---
---

$base-c: #BD6081;
$highlight-c: #EF9291;
$shadow-c: #604658;
$accent-c: #F5C698;
$accent2-c: #de7372;

$title-f: 'Questrial', sans-serif;
$body-f: 'Lato', sans-serif;

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: $body-f;
  font-size: 16px;
}

circle {
  &:hover {
    cursor: pointer;
  }
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $accent-c;
  &:hover {
    color: $highlight-c;
  }
}

@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
    font-family: $title-f;
    text-transform: uppercase;
    text-align: center;
  }
}

button {
  display: block;
  border: 0;
  padding: 10px;
  margin: 5px auto;
  background: $highlight-c;
  border-bottom: .5em solid $accent2-c;
  color: #fff;
  width: 20em;
  font-family: $title-f;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
    background: $accent-c;
    border-bottom-color: $highlight-c;
  }
  &:active, &:focus {
    outline: 0;
  }
  &:active {
    background: $accent2-c;
    border-color: $accent2-c;
  }
}

/* Splash Modal */
.Modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #fff;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99;
  overflow-y: scroll;
  &.--active {
    display: flex;
  }
  &Text{
    padding-top: 1em;
  }
  &Close{
  cursor: pointer;
  float: right;
  }
}

.ModalContent {
  background: $base-c;
  border-left: 2vw solid $shadow-c;
  border-right: 2vw solid $shadow-c;
  width: 50em;
  min-height: 30em;
  padding: 1em 10em 7em;
  color: #fff;
  position: relative;
  button {
    position: absolute;
    bottom: 3em;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Modal Links */
.ModalLinks{
  position: fixed;
  bottom: 1em;
  right: 1em;
  display: flex;
  flex-flow: row;
  color: $base-c;
  z-index: 98;
}

.ModalLink{
  margin: 0 .5em;
  font-family: $title-f;
  text-transform: uppercase;
  font-size: 20px;
  a {
    color: $base-c;
    &:hover {
      color: $accent-c;
    }
  }
}

.ExhibitChoices {
  display: none;
  flex-flow: column;
  &.--active{
    display: flex;
  }
}

/* Checkboxes */
/* From w3 schools https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */

.ExhibitChoice {
  position: relative;
  padding-left: 2em;
  margin: .5em 0;
  cursor: pointer;
  label {
    cursor: pointer;
  }
}

/* Hide the browser's default checkbox */
input[type=checkbox] {
  position: absolute;
  opacity: 0;
  &:checked ~ .ModalCheckbox {
    background: $highlight-c;
  }
}
/* Create a custom checkbox */
.ModalCheckbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
}

.ExhibitChoice:hover {
  .ModalCheckbox {
    background: $accent-c;
  }
}

/* Information */

.Info {
  display: none;
  flex-flow: column;
  justify-content: center;
  position: fixed;
  padding: 10vh 5vh;
  width: 40em;
  height: 100vh;
  &.--active {
    display: flex;
  }
  &Buttons {
    grid-area: button;
  }

}

.Card {
  background: #fff;
  border: 1px solid $base-c;
  padding: 10px;
  overflow-y: scroll;
  min-height: 20%;

  p {
    margin: 0;
  }

  label {
    font-style: italic;
    color: $base-c;
  }

  &Title {
    background: $base-c;
    width: 100%;
    color: #fff;
    padding: 10px;
    grid-area: title;
  }

  &By {
    color: $base-c;
    margin: .5em 0;
  }

  &Section {
    width: 100%;
  }
}

.Thumbnail {
  padding: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 50%;

  &Image {
    max-width: 100%;
    max-height: 80%;
    margin: 10px auto;
    display: block;
  }

  &Colors {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto 5px;

    .ColorSample {
      width: 1vw;
      height: 1vw;
      border-radius: 50%;
    }
  }
}

/* Visualization */

.Collection {
  position: relative;
  left: 40vw;
}